/*
#ED6A5A = Terra Cotta (Orange)
#F4F1BB = Blond
#9BC1BC = Cambridge Blue
#5CA4A9 = Cadet Blus
#E6EBE0 = Platinum (Greyish light green)
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Body */ 
body{
background: #E6EBE0;
font-family: 'Playfair Display', serif;
margin: 0;
}

/*Header */ 
header{
  background:#9BC1BC;
  color :white;
}
header h1, header h2 {
   margin: 0;
}
.img {
 width: 250px;
 float: left;
 margin-left: 50px;
 overflow : auto;
}
.logo{
 margin: 0;
 margin-top:10px;
}

/*text*/
h1, h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}
h1 {
  font-size: 50px;
  margin-top: 0;
}
h2 {
  font-size: 25px;
  margin-top: 0;
}
h3{
  font-size: 20px;
  line-height:10px;
}
section h2{
	color :#5CA4A9;
}
p{
	font-size: 15px;
	line-height:15px;
}

.content-wrap{
	max-width: 950px;
	margin: 0 auto;
	padding: 50px;
    overflow: hidden;
}
.column-narrow {
  width: 35%;
  float: left;
  padding-right: 3%;
}
.column-wide {
  width: 62%;
  float: left;
  min-height:150px;
}

.uppercase{
	text-transform: uppercase;
}

/*work*/
.job-description {
margin-bottom:25px;
}
h3~p{
	margin :2px;
}
.job-description p: first-of-type{
margin-top:0;
}

/*education*/
.date{
	font-weight:900;
}
p + h3 {
	margin-top : 50px;
}

/*Footer + link */
a {
	color: #5CA4A9;
	padding: 20px;
	font-weight:900;
	font-size:17px;
} 
a:hover{
	color : #F4F1BB;
	text-decoration: none;
}

footer {
	background:#9BC1BC;
	color:white;
 	text-align: center;
 	padding-bottom:50px;
}
footer h2{
	padding-top: 10px;
}
